<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/jeep.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#ride">Ride</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#reviews">Reviews</a></li>
        </ul>
        <div class="header-btn">
          
        </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="text">
            <h1><span>Looking</span> to <br>rent a car</h1>
            <p>Most Awesome Drag & Drop WordPress Theme</p>
            <div class="app-stores">
                
                <img src="img/512x512.png" alt=""    >
            </div>
        </div>

        <div class="form-container">
            <form action="">
                <div class="input-box">
                    <span>Location</span>
                    <input type="search" name="" id="" placeholder="Search Places">
                </div>
                <div class="input-box">
                    <span>Pick-Up Date</span>
                    <input type="date" name="" id="">
                </div>
                <div class="input-box">
                    <span>Return Date</span>
                    <input type="date" name="" id="">
                </div>
                <input type="submit" name="" id="" class="btn">
            </form>
        </div>
    </section>
    <!-- Ride -->
    <section class="ride" id="ride">
        <div class="heading">
            <span>How Its Work</span>
            <h1>Rent With 3 Easy Steps</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class='bx bxs-map'></i>
                <img src="src/assets/car3.jpg" alt="">
                <h2>Choose A Location</h2>
                <p> The place where the renter wants to collect the car must be specified </p>
            </div>

            <div class="box">
                <i class='bx bxs-calendar-check' ></i>
                <h2>Pick-Up Date</h2>
                <p>You must specify the time at which the car is to be received</p>
            </div>

            <div class="box">
                <i class='bx bxs-calendar-star'></i>
                <h2>Book A Car</h2>
                <p>Select the vehicle delivery time</p>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services" id="services">
        <div class="heading">
            <span>Best Services</span>
            <h1>Explore Out Top Deals <br> From Top Rated Dealers</h1>
        </div>
       <div class="body">
           <div class="row">
               <div class="col col-12 col-lg-6 col-lg-3" *ngFor="let good of goods; index as i">
                <div class="card" style="width: 18rem;">
                    <img [src]="good .photourl" class="card-img-top" >
                    <div class="card-body">
                      <h5 class="card-title">{{good.name }}</h5>
                      <p class="card-text" >{{good.price}}</p>
                      <button href="#" class="btn btn-primary" (click)="addToCart(good.id)">Rent a car</button>
                    </div>
                  </div>
               </div>
           </div>
       </div>
    </section>
    <!-- About -->
    <section class="about" id="about">
        <div class="heading">
            <span>About Us</span>
            <h1>Best Customer Experience</h1>
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="img/about.png" alt="">
            </div>
            <div class="about-text">
                <span>About Us</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit optio consectetur voluptate repellat. Nulla harum ipsa nihil voluptate iste omnis distinctio maiores iure voluptatem consequatur rerum quidem asperiores eaque at animi, optio hic?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt labore aliquam dicta quam est totam porro repellat iste.</p>
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </section>
    <!-- Reviews -->
    <section class="reviews" id="reviews">
        <div class="heading">
            <span>Reviews</span>
           
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem minima at fugiat totam labore voluptatum ipsum veritatis sunt!</p>
            </div>

    </section>
    <!-- Nwsletter -->
    <section class="newsletter">
        <h2>Subscribe To Newsletter</h2>
        <div class="box">
            <input type="text" placeholder="Enter  Your Email...">
            <a href="#" class="btn">Subscribe</a>
        </div>
    </section>
    <div class="copyright">
        <p>&#169; CarpoolVenom All Right Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>

    <!-- Link To JS -->
    <script src="main.js"></script>
</body>